{
  "blacklist": [
    "swap",
    "tausch",
    "wg"
  ],
  "immoscout": {
    "url":
      "https://www.immobilienscout24.de/Suche/S-2/Wohnung-Miete/Berlin/Berlin/Wedding-Wedding_Schoeneberg-Schoeneberg/-/99,00-/EURO--9999,00/-/-/false"
  },
  "telegram": {
    "chatId": "yourChatId",
    "token": "yourToken"
  },
  "wggesucht": {
    "city": "Berlin",
    "cityKey": 8,
    "maxRent": 9999,
    "minSize": 99,
    "wantedDistricts": [
      "Schöneberg",
      "Wedding"
    ]
  }
}
