{
    "options": {
        "ad_type": 0,
        "autocompinp": "Berlin",
        "bewohner_geschlecht": 0,
        "changesth": 1,
        "filter": 1,
        "geschlecht": 0,
        "haustier": 0,
        "js_active": 1,
        "max_miete": 9999,
        "mietart": 2,
        "min_groesse": 199,
        "moebliert": 0,
        "rauchen": 0,
        "rubrik": 1,
        "stadt_key": 8,
        "tausch": 2,
        "wgsize_max": 0,
        "wgsize_min": 0,
        "zeitraum": 0,
        "zimmer_max": 0,
        "zimmer_min": 0
    },
    "url": "https://www.wg-gesucht.de/1-zimmer-wohnungen-in-Berlin.8.1.1.0.html",
    "wantedDistricts": [
        "Schöneberg",
        "Wedding",
    ]
}
